.lien-commande{
    width: 10%;
    //aspect-ratio: 1/1;
    @include centrer-div;
    margin: 0;
    
    .panier-content{
        width: 100%;
        aspect-ratio: 1/1;
        @include centrer-div;
        flex-direction: column;
        
        .panier{
            position: relative;
            top: 25%;
            left: 0%;
        }
        .quantite-panier{
            border-radius: 50%;
            background-color: red;
            width: 50%;
            height: 50%;
            text-align: center;
            @include centrer-div;
            color: white;
            position: relative;
            left: 38%;
            bottom: -10%;
            font-size:x-small;
        }
    }
}