.articles{
    width: 100%;
    @include centrer-div;
    flex-direction: column;
    .articles-content{
        border: 1px solid green;

        @include centrer-div;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 10px;
        overflow: hidden;

        .article-content{
            border: 1px solid orange;
            @include centrer-div;
            flex-direction: column;
            margin: 8px 0;
            width: 35%;
            min-width: 20%;
            
            

            .image-content{
                width: 100%;
                .image{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        
    }

    .numero-page{
        border: 1px solid magenta;
        height: 5%;
        @include centrer-div;
    }
}